<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>Manipulation de vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        input {
            padding: 5px;
        }
        
        #rappelmessage {
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div id="monapp">Saisissez une chaîne de caractères sans espaces:
        <input type="text" v-model="textinput" @input="isvalid">
        <p id="rappelmessage" v-if="rappelMessage">Les espaces ne sont pas autorisés.</p>
    </div>
    <script>
        const appli = {
            data() {
                return {
                    textinput: "",
                    rappelMessage: false,
                }
            },
            methods: {
                isvalid() {
                    if (this.textinput.includes(" ")) {
                        this.rappelMessage = true;
                    } else {
                        this.rappelMessage = false;
                    }
                }
            }
        }

        ;
        Vue.createApp(appli).mount("#monapp");
    </script>
</body>

</html>
